* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(65, 61, 68);
}

.container-title {
    width: auto;
    height: 13vw;
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:bold;
    font-size: 5vw;
    display: flex;
    justify-content: center;
    background-color: rgb(39, 42, 219);
}

.container-options {
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    font-weight: 600;
    justify-content: center;
    background-color: brown;
}

.container-options-col
{
    display: flex;
    flex-direction: column;
    margin: 2px;
    padding: 7px;
    background-color: chocolate;
}

.container-checkbox {
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.3em;
}

.slider {
    width: 100%;
}

.container-passwd {
    width: auto;
    height: 7vw;
    display: flex;
    background-color: black;
}